{% extends "login/layout.html" %}

{% block body %}
<div id="mainContainer" class="bg-dark text-light">
    <div class="container">

        <h2 class="pt-3 mb-3">Login</h2>

        {% if message %}
            <div class="alert alert-info">{{ message }}</div>
        {% endif %}

        <form method="post" class="form-group">
            {% csrf_token %}
            <div class="form-group">
            {{ form.as_p }}
            </div>
            <button type="submit" class="submit btn btn-primary mb-3">Login</button>
        </form>

        <p>Don't have an account? <a href="{% url 'user:register' %}"><i class="bi bi-arrow-return-right"></i> Register here.</a></p>  

        <p>Forgot the password? <a href="{% url 'user:password_reset' %}"><i class="bi bi-arrow-return-right"></i> Reset here.</a></p> 

        <!-- Add a button to toggle between light and dark mode -->
        <button id="toggleDarkMode" class="btn btn-sm btn-secondary mt-4 rounded-pill px-3">🌓 Mode</button>
        <div class="pb-5"></div>
    </div>  
</div>


<!-- Add the Bootstrap JS and popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

<!-- Script to toggle between dark and light mode -->
<script>
    const toggleButton = document.getElementById('toggleDarkMode');
    const mainContainer = document.getElementById('mainContainer');

    // Check the saved dark mode preference on page load
    if (localStorage.getItem('darkMode') === 'enabled') {
        enableDarkMode();
    }

    // Toggle dark mode and save the preference in localStorage
    toggleButton.addEventListener('click', function() {
        if (localStorage.getItem('darkMode') === 'enabled') {
            disableDarkMode();
        } else {
            enableDarkMode();
        }
    });

    toggleButton.addEventListener('click', function() {
        mainContainer.classList.toggle('bg-dark');
        mainContainer.classList.toggle('text-light');
        mainContainer.classList.toggle('bg-light');
        mainContainer.classList.toggle('text-dark');
    });
</script>

{% endblock %}