{% extends "login/layout.html" %}

{% block body %}

<div id="mainContainer" class="bg-dark text-light maxh">
    <div class="container pt-5">
        <h2>Password Reset Confirmed</h2>
        <p>Your password has been successfully reset. You can now <a href="{% url 'user:login' %}">log in</a> with your new password.</p>
    

    <button id="toggleDarkMode" class="btn btn-sm btn-secondary mt-4 rounded-pill px-3"><i class="bi bi-brightness-high"></i> Mode</button>
    <div class="pb-5"></div>
</div>
    
</div>

{% endblock %}