{% extends "login/layout.html" %}

{% block body %}

<div id="mainContainer" class="bg-dark text-light maxh">
  <div class="container pt-5 pb-4">
    <h2>Password Changed Successfully</h2>
    <p>Your password has been successfully updated.</p>
    <a href="{% url 'user:home' %}">Return to home</a>

    <div>
      <button id="toggleDarkMode" class="btn btn-sm btn-secondary mt-4 rounded-pill px-3"><i class="bi bi-brightness-high"></i> Mode</button>
    </div>
    <div class="pb-5"></div>
  </div>
</div>

{% endblock %}