{% extends "login/layout.html" %}

{% block body %}

<div id="mainContainer" class="bg-dark text-light maxh">
    <div class="container pt-5">

      <h2>Register</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
          <div class="errorlist">
              <ul>
                  {% for field, errors in form.errors.items %}
                      <li>{{ field }}: {{ errors|join:", " }}</li>
                  {% endfor %}
              </ul>
          </div>
      {% endif %}
        <button type="submit" class="submit btn btn-primary mb-3">Register</button>
      </form>
      <p>Already have an account? <a href="{% url 'user:login' %}">Login here</a>.</p>

      <div>
        <button id="toggleDarkMode" class="btn btn-sm btn-secondary mt-4 rounded-pill px-3"><i class="bi bi-brightness-high"></i> Mode</button>
      </div>

    </div>
</div>
{% endblock %}